*.DS_store

*.csv

*.json
*.json.gz
*.gz

W1/ny_taxi_postgres_data/
W1/.ipynb_checkpoints/

.venv
.vscode

W1/terraform/.terraform/
W1/terraform/.terraform.lock.hcl
W1/terraform/terraform.tfstate

W1/commands.md
